

@media (max-width: 1112px) {
    /*===================================================header===================================================*/

    .nav__container {
        padding: 27px 25px;
    }

    .header__list-item:not(:last-child) {
        margin-right: 25px;
    }

    /*===================================================header===================================================*/

    /*===================================================services===================================================*/

    .services__link {
        font-size: 18px;
    }

    /*===================================================services===================================================*/

    /*===================================================accommodation===================================================*/

    .accommodation__info {
        flex-direction: column;
    }

    /*===================================================accommodation===================================================*/

}

@media (max-width: 1024px) {

    /*===================================================benefits===================================================*/

    .benefits__preview {
        padding: 20px 20px 20px 20px;
    }

    /*===================================================benefits===================================================*/
}

@media (max-width: 970px) {
    /*===================================================header===================================================*/

    .header__list-item:not(:last-child) {
        margin-right: 15px;
    }

    .header__btn--first {
        display: none;
    }

    /*===================================================header===================================================*/

    /*===================================================tours===================================================*/

    #tours {
        display: none;
    }

    /*===================================================tours===================================================*/

}

@media (max-width: 850px) {

    /*===================================================benefits===================================================*/

    .benefits__preview {
        padding: 10px 10px 10px 10px;
    }

    /*===================================================benefits===================================================*/
}

@media (max-width: 768px) {

    /*===================================================glob===================================================*/

    .section-offset {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    /*===================================================glob===================================================*/

    /*===================================================header===================================================*/

    
    .nav__container {
        justify-content: space-between;
    }

    .burger {
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
        border: 2px solid currentColor;
        border-radius: 10px; 
        color: #cc9933;
    }

    .burger-line {
        position: absolute;
        width: 25px;
        height: 2px;border-radius: inherit;
        transform: translateX(-50%);
        background-color: currentColor;
    }

    .burger-line:nth-child(1) {
        top:12px;
    }

    .burger-line:nth-child(2) {
        transform:translateX(-50%) translateY(-50%);
    }

    .burger-line:nth-child(3) {
        bottom: 12px;
    } 

    .header__list {
        display: none;
    }

    .header__account-link {
        display:none;
    }

    .header__btn {
        display:none;
    }

    .header__account-btn {
        display: block;
        width: 64px;
        height: 64px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: transparent;
    }

    /*===================================================header===================================================*/

    /*===================================================offer===================================================*/

    .offer__content {
        flex-direction: column;
    }

    .offer--left {
        width: 100%;
        margin-bottom: 24px;
    }

    .offer--right {
        width: 100%;
    }

    .offer__content--up {
        border-radius: 23px;
    }

    .offer__content--down {
        border-radius: 23px;
    }

    .offer--right {
        border-radius: 23px;
    }

    .offer__descr--right {
        font-size: 40px;
        line-height: 40px;
    }
    
    .offer__price--right {
        font-size: 20px;
        line-height: 20px;
    }
    
    .offer__link--right {
        font-size: 16px;
        line-height: 16px;
    }

    /*===================================================offer===================================================*/

    /*===================================================info===================================================*/
    .info__descr {
        margin-right: 0;
        text-align: justify;
    }

    /*===================================================info===================================================*/

    /*===================================================services===================================================*/

    .services__list-item {
        width: 100%;
    }

    .services__list-item:not(:nth-child(2n)) {
        margin-right: 0px;
    }
    
    .services__image1,
    .services__image2,
    .services__image3,
    .services__image4  {
        width: 100%;
        border-radius: 23px 23px 0px 0px;
    }

    .services__list-card {
        border-radius: 0px 0px 23px 23px;
    }

    /*===================================================services===================================================*/

    /*===================================================benefits===================================================*/

    .benefits__list-item {
        width: calc((100% - 22px) / 2);
    }

    .benefits__list-item:not(:nth-child(4n)) {
        margin-right: 0px;
    }

    .benefits__list-item:not(:nth-child(2n)) {
        margin-right: 22px;
    }

    /*===================================================benefits===================================================*/

    /*===================================================accommodation===================================================*/

    .accommodation__list-item {
        width: calc((100% - 22px) / 2);
    
    }

    .accommodation-last {
        display: none;
    }

    .accommodation__list-item:not(:nth-child(3n)) {
        margin-right: 0px;
    }

    .accommodation__list-item:not(:nth-child(2n)) {
        margin-right: 22px;
    }

    .accomodation--mobile {
        display: flex;
        justify-content: center;
    }

    .accomodation__btn {
        background-color: #fff;
    }

    /*===================================================accommodation===================================================*/

    /*===================================================contacts===================================================*/

    .contacts__content {
        flex-direction: column-reverse;
    }

    .contacts-right {
        width: 100%;
        height: 200px;
        margin-bottom: 25px;
    }

    /*===================================================contacts===================================================*/

    /*===================================================footer===================================================*/

    .footer-sun {
        right: 40px;
    }

    /*===================================================footer===================================================*/

}

@media (max-width: 510px) {

    .header__contact {
        display: none;
    }

    /*===================================================contacts===================================================*/

    .contacts__list-item {
        flex-direction: column;
    }

    .contacts__list-title {
        margin-bottom: 10px;
    }

    /*===================================================contacts===================================================*/

    /*===================================================footer===================================================*/

    .footer__content {
        flex-direction: column;
    }

    .footer__line1,
    .footer__line2,
    .footer__line3 {
        width: 100%;
    }

    .footer-list {
        flex-direction: row;
        justify-content: center;
    }

    .footer-list__item {
        margin-right: 75px;
    }

    .social__tripadvisor {
        background-size: 55px 55px;
        width: 55px;
        height: 55px;
    }
    
    .social__ok {
        background-size: 55px 55px;
        width: 55px;
        height: 55px;
    }
    
    .social__vk {
        background-size: 55px 55px;
        width: 55px;
        height: 55px;
    }

    .footer-sun {
        display: none;
    }

    /*===================================================footer===================================================*/


}

@media (max-width: 414px) {

    /*===================================================benefits===================================================*/

    .benefits__list-item {
        width: 100%;
    }

    .benefits__list-item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    /*===================================================benefits===================================================*/

    /*===================================================accommodation===================================================*/

    .accommodation__list-item {
        width: 100%;
    }

    .accommodation__list-item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    /*===================================================accommodation===================================================*/

}

@media (max-width: 375px) {
    /*===================================================glob===================================================*/

    .section__title {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 30px;
    }

    /*===================================================glob===================================================*/

    /*===================================================offer===================================================*/

    .offer__descr--left {
        font-weight: 600;
        font-size: 30px;
    }

    .offer__descr--right {
        font-weight: 600;
        font-size: 30px;
    }

    /*===================================================offer===================================================*/


}




